{% extends 'base.html' %}
{% block body %}
<div class="dashboardResult">
    <div class="container">
        {% for message  in messages %}
        <div class="alertMessage" >
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Hey {{request.user.username | capfirst}} !</strong>&nbsp;{{message}} 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
       {% endfor %}
        <h2 class="userName"> {{request.user.username | capfirst}}'s Dashboard </h2>
        <div class="row">
            <div class="col">
                <div class="dashBoardCard">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <h5 class="card-title">Total Todos</h5>
                            <p class="card-text">
                            <h2 class="num"> {{todo_list.all.count}}</h2>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dashBoardCard">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Total Completed Todos</h5>
                            <p class="card-text">
                            <h2 class="num">{{get_completed_todo}}</h2>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dashBoardCard">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Total Pending Todos</h5>
                            <p class="card-text">
                            <h2 class="num">{{get_pending_todo}}</h2>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="container mt-5 mb-5">
        <div class="form">
            <h2 class="addingTodo"> Add Todo's </h2> <br />
            <form action="" method="POST">
                {% csrf_token %}
                {{form }}
                <input type="submit" value="Add Todo" class="btn btn-primary">
            </form>            
        </div>
    </div>
    <section class="full-width task-section">
        <div class="container">
            <div class="row">
                <div class="full-width table-responsive">
                    <table class="table full-width">
                        <thead>
                            <tr>
                                <th>Todo's</th>
                                <th>Status</th>
                                <th>Created At</th>
                                <th>Complted At</th>
                                <th>Mark as Complete</th>
                                <th>Delete Todo</th>
                            </tr>
                        </thead>
                        <tbody>
                             {% for todo  in page_obj  %}
                             <tr>
                                <td>{{ todo.name}} </td>
                                <!-- <td>{{ todo.status}}</td> -->
                                {% if todo.status == True %}
                                <td> <p class="text-success"> Active </p></td>
                                {% else %}
                                <td> <p class="text-danger"> Complted </p></td>
                                {% endif %}
                                <td>{{todo.created_at}}</td>
                                <td> 
                                {% if todo.completed_at == None %}
                                    <p> - </p>
                                {% else %}
                                    <p> {{todo.completed_at}} </p>
                                {% endif %}
                                </td>
                                <td>
                                    <form action="{% url 'complete_todo' pk=todo.pk %}" method="POST"> 
                                        {% csrf_token %}
                                        <button class="edit btn box-shadow1">
                                        <i class="fas fa-check"></i>
                                         </button>
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'delete_todo' pk=todo.pk %}" method="POST"> 
                                        {% csrf_token %}
                                        <button  class="delete btn box-shadow1">
                                        <i class="far fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div>
        {% include 'todo/pagination.html' %}
    </div>
</div>
{% endblock body %}